.Footer-mexplica {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 50px;
    background-color: cornflowerblue;
    display: flex;
}

#copyright-mexplica  {
    color: #fff;
    margin: auto;
    font-size: 15px;
}