.Header-mexplica {
    width: 100%;
    height: 50px;
    background-color:  cornflowerblue;
    display: inline-block;
}

.container-header {
    width: 100%;
    max-width: 1120px;
    margin: auto;
    display: flex;
    justify-content: left;
    align-items: center;
}

#mexplica-logo-svg {
    max-height: 42px;
    height: 100%;
    margin: 4px 10px ;
    border-radius: 50%;
}

#link-logo {
    display: flex;
    position: absolute;
    max-width: 190px;
    width: 100%;
    align-items: center;
}

.topnav {
    max-width: 880px;
    width: 85%;
    display: flex;
}

.topnav li {
    float: left;
}

h1 {
    font-weight: 500;
}

.navbar-content {
    margin: 0 20px;
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 100%;
    justify-content: space-between;
    position: relative;
    top: 0;
}

.logo-img {
    display: flex;
    width: 200px;
    height: 50px;
}

.usuario-info {
    display: flex;
    float: right;
}



li {
    list-style-type: none;
}

.dropdown-item {
    position: relative;
}

.dropdown-item a {
    display: inline-block;
    text-decoration: none;
    padding: 13px 10px;
    border-bottom: 3px solid cornflowerblue;
    border-top: 3px solid cornflowerblue;
    transition: 0.3s;
}

.suas-monitorias-p {
    font-size: 15px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 13px 10px;
    border-bottom: 3px solid cornflowerblue;
    border-top: 3px solid cornflowerblue;
    transition: 0.3s;
    margin: 0;
    cursor: pointer;
}

.suas-monitorias-p:hover {
    color: white;
    border-bottom: 3px solid rgb(184, 197, 255);
    border-top: 3px solid cornflowerblue;
}

.dropdown-item a:hover  {
    color: white;
    border-bottom: 3px solid rgb(184, 197, 255);
    border-top: 3px solid cornflowerblue;
}

a {
    text-decoration: none;
    color: #fff;
}

.isNotVisibleList {
    display: none;
    position: absolute;
}

.isVisibleList {
    top: 47px;
    left: 0;
    display: block;
    position: absolute;
}

.dropdown-sub-item a {
    font-size: 0.8rem;
    border: none;
    display: inline-block;
    background-color: cornflowerblue;
    width: 160px;
}

.dropdown-sub-item a:hover {
    color: #fff;
    border: none;
    background-color: rgb(84, 102, 184);
}

.search {
    margin: auto;
}

#profile-img {
    width: 40px;
    margin: 5px;
    border-radius: 50%;
    border: 3px solid #ffffff;
    cursor: pointer;
}


.dropdown-user {
    top: 0;
    right: 0;
    margin-left: auto;
    padding: 0;
    height: 50px;
    width: 50px;
}

.dropdown-user a p {
    margin: auto;
    font-size: 15px;
    color: #fff;

}

.isNotVisible{
    display: none;
    position: absolute;
}

.isVisible{
    width: 180px;
    padding: 2px;
    border-radius: 4px;
    background-color: #6174c9;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 53px;
    right: 0;
}

.dropdown-user-name {
    border: none;
    width: 100%;
    background-color: #6174c9;
    margin: 0;
    padding: 8px 0;
    border-bottom: 1px solid #ffffff;
    display: inline-block;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    transition: 0.3s;
}

.dropdown-user-item a {
    width: 100%;
    background-color: #6174c9;
    padding: 8px 0;
    border: none;
    display: inline-block;
    text-align: center;
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    transition: 0.3s;
}

.dropdown-user-item a:hover {
    background-color: #5666af;
} 

#lupa {
    width: 20px;
    height: 20px;
}

.main-bar {
    width: 100%;
    display: flex;
}

@media(max-width: 900px) {
    .topnav {
        width: 80%;
    }
}

@media(max-width: 780px) {
    .topnav {
        width: 75%;
    }
}

@media(max-width: 650px) {
    .topnav {
        width: 68%;
    }
}

@media(max-width: 570px) {

    .navbar-content {
        display: block;
    }

    .main-bar {
        display: none;
    }

    .one,
    .two,
    .three {
        background-color: white;
        width: 100%;
        max-width: 50px;
        height: 5px;
    }

    .one {
        margin-top: auto;
    }

    .two {
        margin: 6px auto;
    }

    .three {
        margin-bottom: auto;
    }

    .toggle-menu {
        width: 40px;
        height: 50px;
        margin: 0 10px 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        right: 0;
    }

    .toggle-menu.on {
        position: absolute;
        top: -10px;
        left: -10px;

        width: 100vw;
        height: 100vh;

        z-index: 10;

        background-color: cornflowerblue;
    }

    .toggle-menu.on .navbar-content {
        display: block;

    }
}