.cadastro-container {
    width: 100%;
    max-width: 500px;
    height: auto;
    background: white;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    margin: auto;
    padding: 28px 36px;
}

a#linkfacebook {
    color: white;
}

a#linkgoogle {
    color: white;

}

.content-group {
    padding: 0 30px;
}

.content-group p {
    color: rgba(0,0,0,0.6);
}

.content-group a {
    text-decoration: none;
    color: #26a0da;

}

.cadastro-container h1 {
    margin: 20px 0 18px 0;
    color: rgba(0,0,0,0.6);

}

.login-container section.form {
    width: 100%;
    display: inline-block;
    text-align: left;
    font-size: 16px;
}

.inputs-login {
    width: 100%;
    max-width: 100%;
    height: 36px;
    margin: 6px 0;
    border-radius: 3px;
    padding: 0 12px;
    transition: 0.3;
    background-color: #FAFBFC;
    border: 1px solid rgba(0,0,0,0.6);
} 

.termos-uso {
    text-align: left;
    font-size: 15px;
}

.termos-uso label {
    font-weight: normal;
    color: rgba(0,0,0,0.7);
}

.fazer-login p, .fazer-login p a{
    font-size: 15px;
}

.inputs-login:focus {
    opacity: 0.8; 
    border: 1px solid #26a0da;
    box-shadow: rgba(0,0,0,0.2) 1px 1px 5px 0;
    transition: 0.3s;
    background: #fff;
}

.fazer-login {
    margin: 10px 0;
    padding-top: 10px;
    border-top: 1px solid rgba(0,0,0,0.7); 
}