
.modal {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  border: 1px solid rgb(180, 171, 171);
  border-radius: 5px;
  min-height: 420px;
  width: 100%;
  padding: 20px;
}

.excluir-publicacao {
  padding: 20px;
  background-color: white;
  border-radius: 4px;
  max-width: 200px;
}
.btn-sim-nao {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.btn-sim {
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;
  width: 60px;
  text-align: center;
  color: white;
  background-color: #1b7fe4;
}

.btn-nao {
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;
  width: 60px;
  text-align: center;
  color: white;
  background-color: rgb(235, 59, 59);

}