.cadastro-content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1120px;
    min-height: 88.9vh;
}

label {
    color: #000;
    font-size: 15px;
    font-weight: 500;
}

.input-css {
    border-radius: 3px;
    border: solid 1px #0c0c0c;
    margin: 10px 0;
    min-height: 30px;
    padding: 0 10px;
}

.cadastro-content > div {
    flex: 1 1 270px;
}

.usuario {
    background: white;
    border-radius: 5px;
    max-width: 300px;
    min-width: 270px;
    max-height: 250px;
    margin: 30px 15px 30px 20px;
}

.usuario-content-here {
    display: flex;
    margin: 10px;
}

.em-construcao {
    margin: 10px;
    background-color: darkgrey;
    height: 120px;
}

.form-group-monitoria {
    max-width: 790px;
    min-height: 480px;
    border-radius: 5px;
    margin: 20px 20px auto 15px;
    background-color: white;
}

#txt-descricao {
    width: 100%;
    height: 150px;
    padding: 10px 15px;
    box-sizing: border-box;
    background-color: #ffffff;
    resize: none;
}

#monitoria-campos {
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
}

.sub-input-group {
    display: flex;
}

.left-input, .right-input {
    display: flex;
    flex-direction: column;
}

.left-input {
    width: 100%;
    margin-right: 5px;
}

.right-input {
    width: 100%;
    margin-left: 5px;
}

#valor-monitoria {
    width: 100%;
}

#local {
    width: 100%;
}

.btn-publicar {
    margin: 10px 0 0;
    max-width: 200px;
    height: 30px;
    border: none;
    background-color: #007aff;
    color: white;
    font-size: 15px;
    font-weight: normal;
    border-radius: 4px;
}

#img-perfil-info {
    height: 80px;
    border-radius: 50%;
    border: 2px solid rgba(82, 157, 255, 0.8);
}

.info-user {
    margin: 10px;
}

#info-usuario-cad {
    font-size: 14px;
}

::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
}