.main-content {
  display: flex;
  flex-wrap: wrap;
  margin: 0px auto;
  max-width: 1120px;
  min-height: 88.9vh;
  justify-content: space-between;
}

.monitorias-titulo {
  background-color: white;
  border-radius: 4px;
  margin-bottom: 15px;
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.monitorias-list {
  margin: 20px 20px 20px 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.monitorias-list > div {
  flex: 1 1 412px;
}


.monitoria-item-show {
  display: flex;
  flex-direction: column;
  max-width: 515px;
  width: 100%;
  max-height: 340px;
  padding: 10px;
  background-color: white;
  border-radius: 4px;
  margin: 0 10px 20px ;
  border: 2px solid white;
  transition: 0.3s;
}


.monitoria-item:hover {
  border: 2px solid rgb(83, 152, 255,0.7);
}

.monitoria-infos{
  margin-top: auto;
  display: flex;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(153, 153, 153);
  bottom: 0;
}

.monitoria-header {
  border-bottom: 1px solid rgb(153, 153, 153);
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.monitoria-header h2 {
  color: rgb(51, 51, 51);
  max-width: 550px;
  width: 100%;
  padding: 0 5px 0;
  font-size: 24px;
  font-weight: 700;
}

.center-content {
  min-height: 140px;
  max-height: 200px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.monitoria-item strong, p {
  color: rgb(51, 51, 51);
  font-weight: normal;
  font-size: 18px;
  padding: 0;
  margin: 5px;
}

#descricao-css {
  margin: 0 0 auto;
  padding: 10px 0;
  font-size: 16px;
}

.info-monitoria {
  display: inline-block;
}

.valor {
  margin-right: auto;
}

.valor p {
  font-size: 16px;
  margin: 5px 0 0;
}

.local p {
  font-size: 16px;
  margin: 5px 0 0;
}

.local  {
  margin-right: auto;
}

.tags {
  display: flex;
  border-bottom: 1px solid rgb(153, 153, 153);
}

.tag {
  background-color: rgb(220, 220, 220);
  width: auto;
  border-radius: 6px;
  margin: 10px 0;
  padding: 5px;
  font-weight: 500;
  font-size: 13px;
  transition: 0.3s;
}

.tag:hover {
  cursor: pointer;
  background-color: rgb(195, 195, 195);
}

.btn-div {
  margin: 10px 0 0 0;
  display: flex;
}

.btn-detalhar {
  color: black;
  margin: 0 5px 0 0;
  min-width: 80px;
  min-height: 30px;
  padding: 5px ;
  border: 2px solid rgba(100, 148, 237, 0);
  background-color: rgba(100, 148, 237, 0.45);
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
  transition: 0.3s;
}

.btn-detalhar:hover {
  border: 2px solid cornflowerblue;
}

.btn-alterar {
  color: black;
  margin: 0 5px;
  min-width: 80px;
  min-height: 30px;
  padding: 5px ;
  border: 2px solid rgba(100, 148, 237, 0);
  background-color: rgba(100, 148, 237, 0.45);
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
  transition: 0.3s;
}

.btn-alterar:hover {
  border: 2px solid cornflowerblue;
}

.btn-excluir {
  color: black;
  margin: 0 0 0 5px;
  min-width: 80px;
  min-height: 30px;
  padding: 5px ;
  border: 2px solid rgba(100, 148, 237, 0);
  background-color: rgba(100, 148, 237, 0.45);
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
  transition: 0.3s;
}

.btn-excluir:hover {
  border: 2px solid cornflowerblue;
}

.mensagem {
  background-color: white;
  border-radius: 4px;
  padding: 10px;
}

.mensagem a {
  color: #000;
}

.preco-monitoria {
  color: rgb(30, 179, 0);
}

@media(max-width: 900px) {
  .monitoria-item-show {
    width: 100%;
    max-width: 900px;
  }
}